.div_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form_container {
  width: 40vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 1rem;
  border-radius: 10px;
  background-color: #fff;  
}

.login_input {
  width: 24vw;
  height: 6vh;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  
  &:focus {
    outline: none;
    border: solid 1px #2a2a2a;
  }
}

.login_button {
  width: calc(24vw + 20px);
  height: 6vh;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  color: white;
  background-color: #7435d5;
  cursor: pointer;
  
  &:disabled {
    border: none;
    cursor: not-allowed;
    color: #999;
    background-color: #ddd;
  }
}

.settings_button {
  border: none;
  background-color: rgba($color: #000000, $alpha: 0);
}

.settings {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:hover {
    animation: rotate-90-cw 0.3s ease-in-out both;
  }
  
}

@keyframes rotate-90-cw {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}