
.App {
  text-align: center;
}

.App_logo {
  height: 15vmin;
  pointer-events: none;
}

.red_border {
  border: 1px solid red;
}

.green_border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App_logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App_header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.App_link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}