body {
  background: linear-gradient(90deg, #46178f 0%, #7435d5 50%, #46178f 100%);
  box-sizing: border-box;
  color: white;
  font-family: Roboto , sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}
